/*customize pics under landing pic*/
@import url('https://fonts.googleapis.com/css?family=Cinzel|Dancing+Script');
a:hover{
	padding: 0px;
	margin: 0px;
	opacity: 0.5;
    filter: alpha(opacity=50);

}

/*container custom*/
.container-fluid{
	margin:auto;
	padding:0px;
}

/*h1{
	font-family: 'Dancing Script', cursive;
	font-family: 'Cinzel', serif;
}
*/

html, body{
	margin: 0 ;
	padding:0;
	height: 95%;
	width:100%;
}

.intro{
	height: 100%;
	width: 100%;
	margin: auto;
	background: url('/home/lincoln/Documents/Anita-s-Kitchen/assets/backgrounds/landing.jpg');
}

.center{
	text-align: center;
	color: #fff
}

.thumbnail{
	padding-left: 200px;
}

.btn{
	background: transparent;
	color: #F15A29;
}

.column{
	padding-left: 800px;

}

.miz{
	padding-top: 100px;
}

.happy{
  background-color: #E5D6D6;
  height: 100px;
  text-align: center;
  color: #050404;
  padding-top: 80px;
 
}
.Party{
  background-color: #EB5819;
  height: 100px;
  text-align: center;
  color: #fff;
  padding-top: 80px;
 }


.row1g1a{
  background-color: #E5D6D6;
  height: 100px;
  text-align: center;
  color: #050404;
}
.row1g1b{
  background-color: #EB5819;
  height: 100px;
  text-align: center;
  color: #ffffff;
}
.row1g2{
  background: url("");
  height: 200px;
  text-align: center;
  color: #ffffff;
}
.row1g2:hover{
  opacity: 0.5;
  color: black;
  font-weight: bolder;
  background: url('/home/lincoln/Documents/Anita-s-Kitchen/assets/foodtop/breakfast.jpg');
}
.row1g3{
  background: url("");
  height: 200px;
  text-align: center;
  color: #ffffff;
}
.row1g3:hover{
  opacity: 0.5;
  color: black;
}
.row1g4{
  background: url("");
  height: 200px;
  text-align: center;
  color: #ffffff;
}
.row1g4:hover{
  opacity: 0.5;
  color: black;
}
.imgsize{
  object-fit: contain;
  display: block;
  margin: -4px;
}
.row2g1{
  padding-left: 7%;
  padding-top: 80px;
  height: 390px;
  width: auto;
  float: left;
}

.row2g2{
  height: 390px;
  padding-top: 80px;
  padding-left: 0px;
  float: right;
  height: auto;
  width: 80%;
  display: inline-block;
}
.imgsize2{
  display: inline-block;
  margin: -4px;
}
.row3g1{
  height: 390px;
  padding-top: 80px;
  padding-left: 20px;
  text-align: right;
  float: left;
  height: 395px;
  width: 83%;
}
.row3g2{
  height: auto;
  padding-left: 30px;
  padding-top: 80px;
  padding-bottom: 80px;
  float: left;
  
}
.row4{
  background: url("");
  height: 500px;
  text-align: center;
}
