/*customize pics under landing pic*/
@import url('https://fonts.googleapis.com/css?family=Cinzel|Dancing+Script');
a:hover{
	padding: 0px;
	margin: 0px;
	opacity: 0.5;
    filter: alpha(opacity=50);

}

/*container custom*/
.container-fluid{
	margin:auto;
	padding:0px;
}

/*h1{
	font-family: 'Dancing Script', cursive;
	font-family: 'Cinzel', serif;
}
*/

html, body{
	margin: 0 ;
	padding:0;
	height: 95%;
	width:100%;
}

.intro{
	height: 100%;
	width: 100%;
	margin: auto;
	background: url('/home/lincoln/Documents/Anita-s-Kitchen/assets/backgrounds/landing.jpg');
}


.row{
	padding-bottom: 168px;
	
}
.center{
	text-align: center;
	color: #fff
}

.thumbnail{
	padding-left: 200px;
}

.btn{
	background: transparent;
	color: #F15A29;
}

.column{
	padding-left: 800px;

}

.miz{
	padding-top: 100px;
}

.happy{
  background-color: #E5D6D6;
  height: 100px;
  text-align: center;
  color: #050404;
 \padding-bottom: 50px
}

.Party{
  background-color: #EB5819;
  height: 100px;
  text-align: center;
  color: #fff;  
  padding-bottom: 50px;
 }


.forge{
  background-color: #E5D6D6;
  height: 100px;
  text-align: center;
  color: #050404;
}
.forge{
  background-color: #EB5819;
  height: 100px;
  text-align: center;
  color: #ffffff;
  padding: 0px
}
.meek{
  background: url("");
  height: 200px;
  text-align: center;
  color: #fff;
   background: url('/home/lincoln/Documents/Anita-s-Kitchen/assets/foodtop/breakfast.jpg');
}
.meek:hover{
  opacity: 0.5;
  color: black;
  font-weight: bolder;
}
.jole{
  background: url("/home/lincoln/hack/Restaurant/assets/foodtop/lunch.jpg");
  height: 200px;
  text-align: center;
  color: #fff;
}
.jole:hover{
  opacity: 0.5;
  color: black;
}
.mole{
  background: url("/home/lincoln/hack/Restaurant/assets/foodtop/dinner.jpg");
  height: 200px;
  text-align: center;
  color: #fff;
}
.mole:hover{
  opacity: 0.5;
  color: black;
}
.imgsize{
  object-fit: contain;
  display: block;
  margin: -4px;
}
.goose{
  padding-left: 7%;
  padding-top: 80px;
  height: 390px;
  width: auto;
  float: left;
}

.moose{
  height: 390px;
  padding-top: 80px;
  padding-left: 0px;
  float: right;
  height: auto;
  width: 80%;
  display: inline-block;
}
.imgsize2{
  display: inline-block;
  margin: -4px;
}
.geek{
  height: 390px;
  padding-top: 80px;
  padding-left: 20px;
  text-align: right;
  float: left;
  height: 395px;
  width: 83%;
}
.goose{
  height: auto;
  padding-left: 30px;
  padding-top: 80px;
  padding-bottom: 80px;
  float: left;
  
}
.row4{
  background: url("");
  height: 500px;
  text-align: center;
}

.polaroid {
  box-shadow: 0 0 10px #000000;
  width: auto;
  height: auto;
  border-radius: 5px;
  background-color: #fff;
  padding: 20px;
}

.imgsize{
  object-fit: contain;
  display: block;
  margin: -4px;
}
