/*customize pics under landing pic*/
@import url('https://fonts.googleapis.com/css?family=Cinzel|Dancing+Script');
a:hover{
	padding: 0px;
	margin: 0px;
	opacity: 0.5;
    filter: alpha(opacity=50);

}

/*container custom*/
.container-fluid{
	margin:auto;
	padding:0px;
}

/*h1{
	font-family: 'Dancing Script', cursive;
	font-family: 'Cinzel', serif;
}
*/

html, body{
	margin: 0 ;
	padding:0;
	height: 95%;
	width:100%;
}

.intro{
	height: 100%;
	width: 100%;
	margin: auto;
	background: url('/home/lincoln/Documents/Anita-s-Kitchen/assets/backgrounds/landing.jpg');
}


.row{
	padding-bottom: 168px;

}
.center{
	text-align: center;
	color: #fff;
	padding-top:-30px;
	font-family: 'Nanum Myeongjo', serif;
}

.thumbnail{
	padding-left: 200px;
}

.btn{
	background: transparent;
	color: #F15A29;
}

.column{
	padding-left: 800px;

}

.miz{
	padding-top: 100px;
}

.happy{
  background-color: #E5D6D6;
  height: 100px;
   width: 350px;
  text-align: center;
  color: #050404;
 padding-bottom: 50px
}

.Party{
  background-color: #EB5819;
  height: 100px;
   width: 350px;
  text-align: center;
  color: #fff;  
  padding-bottom: 50px;
 }


.forge{
  background-color: #E5D6D6;
  height: 100px;
  text-align: center;
  color: #050404;
}
.forge{
  background-color: #EB5819;
  height: 100px;
  text-align: center;
  color: #ffffff;
  padding: 0px
}
.meek{
  background: url("");
  height: 200px;
  width: 350px;
  text-align: center;
  color: #fff;
  background: url('/home/lincoln/Documents/Anita-s-Kitchen/assets/foodtop/breakfast.jpg');
}
.meek:hover{
  opacity: 0.5;
  color: black;
  font-weight: bolder;
}
.jole{
  background: url("/home/lincoln/hack/Restaurant/assets/foodtop/lunch.jpg");
  height: 200px;
  width: 350px;
  text-align: center;
  color: #fff;
}
.jole:hover{
  opacity: 0.5;
  color: black;
}
.mole{
  background: url("/home/lincoln/hack/Restaurant/assets/foodtop/dinner.jpg");
  height: 200px;
  text-align: center;
  color: #fff;
}
.mole:hover{
  opacity: 0.5;
  color: black;
}
.imgsize{
  object-fit: contain;
  display: block;
  margin: -4px;
}

.goose{
  height: auto;
  padding-left: 30px;
  padding-top: 80px;
  padding-bottom: 80px;
  float: left;
  display: inline-block;
}

.moose{
  height: 390px;
  padding-top: 80px;
  padding-left: 0px;
  float: right;
  height: auto;
  width: 80%;
  
}

.imgsize2{
  display: inline-block;
  margin: -4px;
}
.geek{
  height: 390px;
  padding-top: 80px;
  padding-left: 20px;
  text-align: right;
  float: left;
  height: 395px;
  width: 83%;
}
.goose{
  height: auto;
  padding-left: 30px;
  padding-top: 80px;
  padding-bottom: 80px;
  float: left;
  
}
.sweet{
  background: url("/home/lincoln/Documents/Anita-s-Kitchen/assets/backgrounds/foodsBg.jpg");
  height: 500px;
  text-align: center;
}

.cling {
  box-shadow: 0 0 10px #000000;
  width: auto;
  height: auto;
  border-radius: 5px;
  background-color: #fff;
  padding: 20px;
}

.imgsize{
  object-fit: contain;
  display: block;
  margin: -4px;
}

.moose{
  height: 390px;
  padding-top: 80px;
  padding-left: 0px;
  float: right;
  height: auto;
  width: 80%;
  display: inline-block;
}

.first{
  padding-left: 5%;
  padding-top: 80px;
  height: 30px;
  width: auto;
  float: left;
}

div.tab {
    margin-left: 10%;
    margin-top: 5%;
    width: 80%;
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
}
div.tab button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
    font-size: 17px;
}
div.tab button:hover {
    background-color: #ddd;
}
div.tab button.active {
    background-color: #ccc;
    color: #f41811;
}
.crop{
  width: 80%;
  margin-left: 10%;
  margin-top: 4%;
  margin-bottom: 5%;
  height: 250px;
  box-shadow: 0 0 10px #000000;
}
.slider{
  text-align: center;
  width: 60%;
  height: 100%;
  float: left;
}
.slider1{
  text-align: center;
  width: 30%;
  height: 95%;
  border-left: 3px solid #7C7063;
  float: right;
  padding: 5px;
}
.root{
  background: url('/home/lincoln/Documents/Anita-s-Kitchen/assets/backgrounds/subscribe.jpg');
  height: 320px;
  text-align: center;
  color: #fff;
  font-size: 20px;
}

h3{
	color: #F15A29;
}

.footer {
  clear: both;
  width: 100%;
  height: 220px;
  color: white;
  background-color: #F15A29;
  text-align: center;
  float: center;
}
.Tsup {
    float: center;
    padding-left: 20px;
}
.Email {
   margin-left: 20%;
   width: 70%;
   text-align: center;
   font-size: 20px;
}

input[type=email], select {
    width: 60%;
    padding: 12px 20px;
    margin: 0px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    float: left;
    color: blue;
}

input[type=submit] {
    width: 20%;
    background-color: #f7761b;
    color: white;
    padding: 14px 20px;
    margin-left: 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    float: left;
}

input[type=submit]:hover {
    background-color: transparent;
}

.dec {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
}